.menuContainer {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.InnerMenu {

}

.MenuHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.HeaderText {
    font-size: 17px;
    color: white;
    transform: translateY(10px);
    text-align: center;
}

.InnerInnerMenu {
    padding: 10px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
}

.DateCardOuter {
    background-color: white;
    display: flex;
    justify-content: center;
    margin: 1vw;
    padding: 1vw;
    border-radius: 1vw;
}

.DateCardInner {
    background-color: white;
    display: flex;
    align-content: space-around;
    justify-content: space-around;
    flex-direction: column;
}

.DateCardInnerInner {
    display: flex;
    align-content: center;
    justify-content: center;
}

.DateItem {
    width: min-content;
    font-weight: bold;
    font-size: 150%;
}

.PromptItem {
    width: min-content;
}

@media only screen and (max-width: 500px) {
    .DateItem {
        font-size: 10px;
    }
    .PromptItem {
        fonr-size: 10px;
    }
}

.BackButton {
    position: fixed;
    top: 10px;
    left: 10px;
}